
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fasthand&family=Jura&family=Caveat&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fasthand&family=Jura:wght@700&display=swap'); */

html{
    font-size: 14px;
   
}
body{
    padding: 0;
    margin: 0;
  
}
*{
  font-family: 'Jura', sans-serif;
  
}
.padding4rem{
    padding: 4rem;
}
.center-div{
    display:flex;
    justify-content: center;
    align-items: center;
}
.between-div{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.btn-color{
    background:#4f15d0;
    color:white;
    padding:10px 18px;
    font-size:0.85rem;
    border:none;
    font-weight: 700;
    border-radius: 6px;

}
.inputwrapper{
    display: flex;
    justify-content:flex-start;
    align-items:center;
    margin-bottom: 35px ;
    grid-gap: 20px;
  }

  .inputwrapper>p{
  min-width: 35%;
  flex:1;
   margin-bottom:0;
   font-size:13px;
   font-weight:700;
   color:rgb(63, 66, 84);;
   
  }
  .form-input{
    flex:2;
  border:none;
  padding: 9px 11px 9px 11px;
  background: #F5F8FA;
  border-radius: 6px;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  border: 1px solid transparent;
  color: #5E6278;
  max-width: 400px;
  
   
  }
  .form-input::placeholder{
  color: #A1A5B7;
  font-size: 12px;
   
  }
  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
  -moz-appearance: textfield;
}
.dropdown-toggle::after{
  display: none !important;
}

 .react-colorful {
  height: 200px;
}
.react-colorful__pointer{
  height: 20px !important;
  width: 20px !important;
  border-width: 1.5px !important;
}
 .react-colorful__saturation {
  border-radius: 4px 4px 0 0;
}
 .react-colorful__hue {
  height: 40px;
  border-radius: 0 0 4px 4px;
}
.react-colorful__hue-pointer {
  width: 12px;
  height: inherit;
  border-radius: 0;
}

.card-container{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-size:contain !important;
}

.card-container p{
  -webkit-background-clip: text !important;
  color:transparent
}